@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #F4F4F4;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h3 {
  color: #EAA79F;
  font-size: clamp(14px, 3vw, 18px);
}

h4 {
  color: #EAA79F;
  font-size: clamp(12px, 3vw, 16px);
  font-weight: 500;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  width: 60%;
  margin: auto;
}

.block {
  display: block !important;
}

.hidden {
  display: none !important;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background {
  overflow: hidden;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  position: absolute;
  z-index: -1;
  height: clamp(25vh, 65vw, 100vh);
}

.main {
  width: 80%;
  max-width: 770px;
  margin-top: clamp(30px, 5vw, 60px);
}

.main__titulo {
  font-size: clamp(35px, 5vw, 70px);
  text-align: center;
}

.main__container {
  background-color: #F4F4F4;
  border-radius: 25px;
  margin: clamp(20px, 5vw, 40px) 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 3px 10px #9A9AA0;
}

.main__img {
  width: 50%;
  margin: clamp(15px, 3vw, 40px) 0px;
}

.encabezado {
  background-color: #393B50;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: clamp(10px, 2vw, 20px);
  display: flex;
  gap: clamp(10px, 2vw, 30px);
  align-items: center;
  width: 100%;
}

.encabezado__numero {
  border: 2px solid #fff;
  width: clamp(50px, 5vw, 70px);
  height: clamp(50px, 5vw, 70px);
  border-radius: 50%;
  padding: 15px;
  font-size: clamp(30px, 4vw, 45px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 6px #1b1b2d;
  font-weight: 600;
}

.encabezado__titulo {
  font-size: clamp(18px, 3vw, 24px);
}

.encabezado__paso {
  font-size: clamp(15px, 4vw, 20px);
  font-weight: 200;
}

.form {
  display: flex;
  flex-direction: column;
  width: 98%;
  max-width: 580px;
  align-items: center;
  padding: clamp(5px, 1vw, 15px) clamp(10px, 2vw, 30px) 20px;
  gap: 15px;
}

.form__container {
  width: 100%;
  position: relative;
  display: inline-block;
}

.form__input {
  width: 100%;
  border: 1px solid #9A9AA0;
  padding: 18px 15px 2px 20px;
  border-radius: 50px;
  color: #9A9AA0;
  font-size: clamp(12px, 3vw, 16px);
}
.form__input:focus {
  outline: 1px solid #9A9AA0;
}

.form__label {
  position: absolute;
  top: 49%;
  left: 20px;
  transform: translateY(-50%);
  font-size: clamp(12px, 3vw, 16px);
  color: #9A9AA0;
  pointer-events: none;
  transition: 0.175s ease-out;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  top: 12px;
  left: 20px;
  font-size: 12px;
  color: #EAA79F;
}

.form__icono {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  top: 28%;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #EAA79F;
}

.btn__container {
  padding: clamp(10px, 3vw, 30px);
  width: 90%;
  max-width: 556px;
  display: flex;
  gap: 10px;
}

.btn {
  width: 100%;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #393B50;
  font-size: clamp(12px, 3vw, 16px);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  outline: none;
}

.btn--rosa {
  background-color: #EAA79F;
}

#config__header {
  background-color: #EAA79F;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  width: 100%;
}
#config__header nav {
  display: flex;
  gap: 25px;
}
#config__header nav a {
  padding: 10px;
  border: 2px solid #F4F4F4;
  border-radius: 50px;
  width: 175px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#config__header nav a .fa {
  font-size: 24px;
}
#config__header nav a:hover {
  color: #EAA79F;
  background-color: #F4F4F4;
}
#config__header nav a:hover i {
  color: #EAA79F;
}
#config__header nav .header__redes {
  width: 50px;
}

.header__logo--container {
  width: 250px;
}

.pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pasos__img {
  width: 50%;
  max-width: 300px;
  margin-top: 25px;
}

.pasos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.paso0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title img" "texto img" "boton img";
  padding: 75px 50px;
  padding: clamp(25px, 5vw, 75px) clamp(20px, 5vw, 50px);
}
@media only screen and (max-width: 990px) {
  .paso0 {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "title" "texto" "boton";
    gap: 15px;
  }
}
.paso0 .btn {
  grid-area: boton;
}

.paso0__img {
  grid-area: img;
}
@media only screen and (max-width: 990px) {
  .paso0__img {
    width: 60%;
    justify-self: center;
  }
}

.paso0__titulo {
  color: #EAA79F;
  grid-area: title;
  font-size: clamp(18px, 3vw, 24px);
  font-weight: 600;
}
@media only screen and (max-width: 990px) {
  .paso0__titulo {
    text-align: center;
  }
}

.paso2__container {
  display: grid;
  align-items: center;
  margin-top: clamp(8px, 2vw, 40px);
  width: 80%;
  padding: clamp(7px, 2vw, 30px);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "file title" "file texto";
}
@media only screen and (max-width: 990px) {
  .paso2__container {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "texto" "file";
    gap: 15px;
    justify-items: center;
  }
}

.paso2__file {
  grid-area: file;
  width: 100%;
  justify-self: center;
}

.paso2__titulo {
  grid-area: title;
  color: #EAA79F;
  font-size: clamp(18px, 3vw, 24px);
}

.pasos__texto {
  color: #9A9AA0;
  font-size: clamp(12px, 3vw, 15px);
  grid-area: texto;
}
@media only screen and (max-width: 990px) {
  .pasos__texto {
    text-align: center;
  }
}
.pasos__texto span {
  color: #9A9AA0;
  font-size: clamp(10px, 3vw, 12px);
}

.paso3 {
  width: 80%;
  padding: clamp(11px, 3vw, 40px);
  gap: clamp(10px, 3vw, 30px);
}
.paso3 .pasos__img {
  width: 70%;
}

.dias {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  background-color: #fff;
  border-radius: 50px;
  padding: 20px;
}

.dias__div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #EAA79F;
  box-shadow: 0px 3px 5px rgb(73, 70, 70);
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.dias__div.dias__select {
  background-color: #EAA79F;
  border: 2px solid #fff;
}
.dias__div.dias__select .dias__nombre {
  color: #fff;
}

.dias__nombre {
  color: #EAA79F;
  font-size: 18px;
  font-weight: 700;
}

.agenda {
  margin-top: 20px;
  background-color: #FFDDD4;
  width: 80%;
  padding: 20px 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.agenda::before {
  content: "";
  border-style: solid;
  border-width: 0px 15px 15px 15px;
  border-color: transparent transparent #FFDDD4 transparent;
  display: block;
  position: absolute;
  top: -13px;
  left: var(--left-value, 7%);
  transition: left 0.3s ease;
}

.agenda__div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.tiempo__selectCont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #EAA79F;
  background: #fff;
  background: linear-gradient(90deg, #fff 0%, #fff 35%, #EAA79F 35%);
  padding: 10px;
  border-radius: 50px;
}

.tiempo__selectCont--L {
  background: linear-gradient(90deg, #fff 0%, #fff 55%, #EAA79F 55%);
  flex: 1;
}

.tiempo__selectTit {
  color: #EAA79F;
  font-weight: 500;
  font-size: 14px;
}

.tiempo__select {
  border: none;
  background-color: #EAA79F;
}
.tiempo__select:focus-visible {
  outline: none;
}

.tiempo__option {
  color: #EAA79F;
  background-color: #fff;
}

.resumen {
  width: 80%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.resumen__lista {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #9A9AA0;
}

.resumen__icono {
  color: #EAA79F;
  cursor: pointer;
  margin: 0px 5px;
}

.resumen__rangos {
  display: flex;
  flex-direction: column;
}

.resumen__texto {
  color: #9A9AA0;
  font-size: 14px;
  flex: 1;
}

.resumen__container {
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.resumen__tabs {
  display: flex;
  gap: 5px;
  position: absolute;
  width: 100%;
  top: -41px;
}

.resumen__tabsBtn {
  position: relative;
  z-index: 1000;
  width: 100%;
  border: 1px solid #9A9AA0;
  cursor: pointer;
  bottom: 0;
  background-color: #EAA79F;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 300ms ease;
}
.resumen__tabsBtn.tabSelect {
  background-color: #fff;
  color: #EAA79F;
  border-bottom: 1px solid #fff;
}

.resumen__cuadro {
  width: 100%;
  border: 1px solid #9A9AA0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  position: relative;
}

.resumen__registro {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 20px 10px;
  gap: 5px;
}
.resumen__registro .resumen__texto:nth-child(2) {
  font-size: 10px;
  flex: 1.5;
}

.resumen__content {
  display: none;
}

.categoria {
  margin-top: 20px;
  background-color: #FFDDD4;
  width: 80%;
  padding: 20px 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categoria__textarea {
  resize: none;
  outline: none;
  color: #9A9AA0;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #9A9AA0;
}

.categoria__select {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  background-color: #EAA79F;
}
.categoria__select:focus {
  outline: none;
}

.categoria__valores {
  width: 100%;
  display: flex;
  gap: 10px;
}

.precio {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #EAA79F;
  background: #fff;
  background: linear-gradient(90deg, #EAA79F 0%, #EAA79F 20%, #fff 20%);
  padding: 10px;
  border-radius: 50px;
}

.precio__input {
  border: none;
  outline: none;
  color: #EAA79F;
}

.paso4, .paso5 {
  display: none;
}

.paso3__mapa {
  color: #EAA79F;
}

#file__upload {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
}
label img {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
}
label img:hover {
  opacity: 0.7;
}

.loader {
  position: relative;
  height: 50px;
  width: 50px;
  display: none;
}
.loader::after, .loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #EAA79F;
  animation: load 1s linear infinite;
  transform: scale(0);
  opacity: 0;
}
.loader::after {
  animation-delay: -0.5;
}

@keyframes load {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/*ALERT CON INPUT DE DATOS*/
.req-confirmarpedido {
  background: rgba(19, 35, 47, 0.95);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: fixed;
  width: 95%;
  color: white;
  top: 150px;
  margin: auto;
  left: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.req-confirmarpedido h3 {
  padding-top: 0px;
  color: red;
}

.div-mainalert {
  position: fixed;
  width: 100%;
  top: 150px;
  margin: auto;
  left: 2.5%;
}

.div-alert {
  background: rgba(19, 35, 47, 0.95);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  /*
  position: fixed;
  width: 50%;
  */
  /*
  top: 150px;
     left: 50%;
  */
  color: white;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 400px;
}

.div-alert h3 {
  padding-top: 0px;
  color: red;
}

.boton-alertconfirmar {
  background-color: #4e9bcc;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  padding: 10px;
  border: none;
  margin: 10px;
}

.boton-alertconfirmar:focus {
  outline: none;
}

.boton-alertconfirmar:hover {
  outline: none;
  background-color: #086A87;
  color: white;
}

.boton-alertconfirmar:active {
  outline: none;
  background-color: #086A87;
  color: white;
}

.banner {
  width: 100%;
}

.banner__main {
  background-color: #F4F4F4db;
  border-radius: 25px;
  padding: clamp(20px, 5vw, 40px);
  display: flex;
  margin-top: 100px;
  margin-left: 20%;
  flex-direction: column;
  box-shadow: 1px 3px 10px #9A9AA0;
  width: 35%;
  gap: 30px;
}

.banner__titulo {
  color: #EAA79F;
  font-size: clamp(22px, 3vw, 40px);
}

.banner__texto {
  color: #9A9AA0;
  font-size: clamp(15px, 4vw, 20px);
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 199px;
}

.info__titulo {
  font-size: clamp(22px, 3vw, 40px);
}

.servicios__main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 60px;
}

.servicios__imgCont {
  width: 20%;
}

.servicios__texto {
  color: #9A9AA0;
  font-size: clamp(15px, 4vw, 20px);
  text-align: center;
}

.incluye {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding-top: 60px;
  background-color: #F4F4F4;
}

.incluye__main {
  display: grid;
  width: 80%;
  align-items: center;
  gap: 0px 60px;
  grid-template-areas: "turnos mock navegador" "ubicacion mock promocion";
}

.incluye__mock {
  grid-area: mock;
}

.incluye__cont {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.turnos, .ubicacion {
  grid-area: turnos;
  justify-self: end;
  text-align: end;
  display: flex;
  align-items: end;
}

.navegador {
  grid-area: navegador;
}

.ubicacion {
  grid-area: ubicacion;
}

.promocion {
  grid-area: promocion;
}

.incluye__icono {
  width: 80px;
}

.incluye__texto {
  color: #9A9AA0;
  font-size: clamp(15px, 4vw, 20px);
}

.contacto {
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto .info__titulo {
  color: #fff;
  margin-top: 60px;
}

.contacto__main {
  background-color: #F4F4F4;
  border-radius: 25px;
  padding: clamp(20px, 5vw, 40px);
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  box-shadow: 1px 3px 10px #9A9AA0;
  width: 35%;
  gap: 30px;
}
.contacto__main .categoria__textarea {
  width: 100%;
}

.footer {
  background-color: #393B50;
  width: 100%;
  display: flex;
  margin-top: 100px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.footer__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1040px;
}

.footer__logo {
  width: 200px;
}

.footer__redesCont {
  display: flex;
  gap: 10px;
}

.footer__redes {
  font-size: 24px;
  padding: 10px;
  border: 2px solid #F4F4F4;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
}
.footer__redes:hover {
  color: #393B50;
  background-color: #F4F4F4;
}
.footer__redes:hover i {
  color: #393B50;
}/*# sourceMappingURL=styles.css.map */