.pasos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // display: none;
}

.pasos__img{
    width: 50%;
    max-width: 300px;
    margin-top: 25px;
}

.pasos__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.paso0{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title img"
                        "texto img"
                        "boton img";
    padding: 75px 50px;
    padding: clamp(25px, 5vw, 75px) clamp(20px, 5vw, 50px);

    @media only screen and (max-width: 990px){
        grid-template-columns: 1fr;
        grid-template-areas: "img"
                            "title"
                            "texto"
                            "boton";
        gap: 15px;
    }

    .btn{
        grid-area: boton;
    }
}

.paso0__img{
    grid-area: img;

    @media only screen and (max-width: 990px){
        width: 60%;
        justify-self: center;
    }
}

.paso0__titulo{
    color: $rosa_principal;
    grid-area: title;
    font-size: $titulo-l;
    font-weight: 600;

    @media only screen and (max-width: 990px){
        text-align: center;
    }
}

.paso2__container{
    display: grid;
    align-items: center;
    margin-top: clamp(8px, 2vw, 40px);
    width: 80%;
    padding: clamp(7px, 2vw, 30px);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "file title"
                        "file texto";

    @media only screen and (max-width: 990px){
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                            "texto"
                            "file";
        gap: 15px;
        justify-items: center;
    }
}

.paso2__file{
    grid-area: file;
    width: 100%;
    justify-self: center;
}

.paso2__titulo{
    grid-area: title;
    color: $rosa_principal;
    font-size: $titulo-l;
}

.pasos__texto{
    color: $gris;
    font-size: $texto-l;
    grid-area: texto;

    @media only screen and (max-width: 990px){
        text-align: center;
    }

    span{
        color: $gris;
        font-size: $texto-span;
    }
}

.paso3{
    width: 80%;
    padding: clamp(11px, 3vw, 40px);
    gap: clamp(10px, 3vw , 30px);

    .pasos__img{
        width: 70%;
    }
}

.dias{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    background-color: $blanco;
    border-radius: 50px;
    padding: 20px;
}

.dias__div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid $rosa_principal;
    box-shadow: 0px 3px 5px rgb(73, 70, 70);
    width: 60px;
    height: 60px;
    cursor: pointer;

    &.dias__select{
        background-color: $rosa_principal;
        border: 2px solid $blanco;

        .dias__nombre{
            color: $blanco;
        }
    }
}

.dias__nombre{
    color: $rosa_principal;
    font-size: 18px;
    font-weight: 700;
}

.agenda{
    margin-top: 20px;
    background-color: $rosa_secundario;
    width: 80%;
    padding: 20px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

    &::before {
        content: "";
        border-style: solid;
        border-width: 0px 15px 15px 15px;
        border-color: transparent transparent $rosa_secundario transparent;
        display: block;
        position: absolute;
        top: -13px;
        left: var(--left-value, 7%);
        transition: left 0.3s ease;
    }
}

.agenda__div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.tiempo__selectCont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid $rosa_principal;
    background: $blanco;
    background: linear-gradient(90deg, $blanco 0%, $blanco 35%, $rosa_principal 35%);
    padding: 10px;
    border-radius: 50px;
}

.tiempo__selectCont--L{
    background: linear-gradient(90deg, $blanco 0%, $blanco 55%, $rosa_principal 55%);
    flex: 1;
}

.tiempo__selectTit{
    color: $rosa_principal;
    font-weight: 500;
    font-size: 14px;
}

.tiempo__select{
    border: none;
    background-color: $rosa_principal;

    &:focus-visible{
        outline: none;
    }
}

.tiempo__option{
    color: $rosa_principal;
    background-color: $blanco;
}

.resumen{
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.resumen__lista{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    background-color: $blanco;
    padding: 10px;
    border: 1px solid $gris;
}

.resumen__icono{
    color: $rosa_principal;
    cursor: pointer;
    margin: 0px 5px;
}

.resumen__rangos{
    display: flex;
    flex-direction: column;
}

.resumen__texto{
    color: $gris;
    font-size: 14px;
    flex: 1;
}

.resumen__container{
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.resumen__tabs{
    display: flex;
    gap: 5px;
    position: absolute;
    width: 100%;
    top: -41px;
}

.resumen__tabsBtn{
    position: relative;
    z-index: 1000;
    width: 100%;
    border: 1px solid $gris;
    cursor: pointer;
    bottom: 0;
    background-color: $rosa_principal;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 300ms ease;

    &.tabSelect{
        background-color: $blanco;
        color: $rosa_principal;
        border-bottom: 1px solid $blanco;
    }
}

.resumen__cuadro{
    width: 100%;
    border: 1px solid $gris;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    position: relative;
}

.resumen__registro{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $blanco;
    padding: 20px 10px;
    gap: 5px;

    .resumen__texto:nth-child(2){
        font-size: 10px;
        flex: 1.5;
    }
}

.resumen__content{
    display: none;
}

.categoria{
    margin-top: 20px;
    background-color: $rosa_secundario;
    width: 80%;
    padding: 20px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categoria__textarea{
    resize: none;
    outline: none;
    color: $gris;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid $gris;
}

.categoria__select{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 50px;
    color: $blanco;
    font-size: 16px;
    background-color: $rosa_principal;

    &:focus{
        outline: none;
    }
}

.categoria__valores{
    width: 100%;
    display: flex;
    gap: 10px;
}

.precio{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid $rosa_principal;
    background: $blanco;
    background: linear-gradient(90deg, $rosa_principal 0%, $rosa_principal 20%, $blanco 20%);
    padding: 10px;
    border-radius: 50px;
}

.precio__input{
    border: none;
    outline: none;
    color: $rosa_principal;
}



// .paso0,  .paso1, .paso2, .paso4, .paso5, .encabezado{
//     display: none;
// }


.paso4, .paso5{
    display: none;
}


// categoria__container = categoria
// select = + categoria__select
// categoria__resumen--container = resumen
// categoria__resumen = resumen__container
// id: categoriaResumen = tabsCategoria
// categoria__resumen--pestañas = resumen__tabs
// pestaña = resumen__tabsBtn
// selec = tabSelect
// categoria__resumen--lista--container = resumen__cuadro
// categoria__resumen--content = resumen__content
// categoria__resumen--lista = resumen__registro









// Ver estilos cuando este la libreria
.paso3__mapa{
    color: $rosa_principal;
}

// Ver estilos cuando este la libreria
#file__upload {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;

    img{
        width: 100%;
        border: 1px solid #ccc;
        padding: 5px;

        &:hover{
            opacity: 0.7;
        }
    }
}