*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente_principal;
    color: $claro;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

h3{
    color: $rosa_principal;
    font-size: $titulo-m;
}

h4{
    color: $rosa_principal;
    font-size: $titulo-s;
    font-weight: 500;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo{
    width: 60%;
    margin: auto;
}

.block{
    display: block !important;
}

.hidden{
    display: none !important;
}

.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.background {
    overflow: hidden;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
    z-index: -1;
    height: clamp(25vh, 65vw, 100vh);
}

.main{
    width: 80%;
    max-width: 770px;
    margin-top: clamp(30px, 5vw, 60px);
}

.main__titulo{
    font-size: $titulo-xl;
    text-align: center;
}

.main__container{
    background-color: $claro;
    border-radius: 25px;
    margin: clamp(20px, 5vw, 40px) 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 3px 10px $gris;
}

.main__img{
    width: 50%;
    margin: clamp(15px , 3vw , 40px) 0px;
}

.encabezado{
    background-color: $azul;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: clamp(10px, 2vw, 20px);
    display: flex;
    gap: clamp(10px, 2vw , 30px);
    align-items: center;
    width: 100%;
    // display: none;
}

.encabezado__numero{
    border: 2px solid #fff;
    width: clamp(50px, 5vw , 70px);
    height: clamp(50px, 5vw , 70px);
    border-radius: 50%;
    padding: 15px;
    font-size: clamp(30px, 4vw, 45px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 6px #1b1b2d;
    font-weight: 600;
}

.encabezado__titulo{
    font-size: $titulo-l;
}

.encabezado__paso{
    font-size: $texto-xl;
    font-weight: 200;
}

.form{
    display: flex;
    flex-direction: column;
    width: 98%;
    max-width: 580px;
    align-items: center;
    padding: clamp(5px, 1vw, 15px) clamp(10px, 2vw, 30px) 20px;
    gap: 15px;
}

.form__container{
    width: 100%;
    position: relative;
    display: inline-block;
}

.form__input{
    width: 100%;
    border: 1px solid $gris;
    padding: 18px 15px 2px 20px;
    border-radius: 50px;
    color: $gris;
    font-size: $titulo-s;

    &:focus{
        outline: 1px solid $gris ;
    }
}

.form__label{
    position: absolute;
    top: 49%;
    left: 20px;
    transform: translateY(-50%);
    font-size: $titulo-s;
    color: $gris;
    pointer-events: none;
    transition: 0.175s ease-out;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    top: 12px;
    left: 20px;
    font-size: 12px;
    color: $rosa_principal;
}

.form__icono{
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    top: 28%;
    right: 15px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: $rosa_principal;
}

.btn__container{
    padding: clamp(10px, 3vw , 30px);
    width: 90%;
    max-width: 556px;
    display: flex;
    gap: 10px;
}

.btn{
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: $azul;
    font-size: $titulo-s;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    outline: none;
}

.btn--rosa{
    background-color: $rosa_principal;
}


// @mixin toggle-button-style {
//     position: absolute;
//     right: 0;
//     padding: 0px 10px;
//     font-size: 19px;
//     margin-top: 3px;
//     border: none;
//     cursor: pointer;
//     background-color: transparent;
// }