.banner{
    width: 100%;
}

.banner__main{
    background-color: $claro+db;
    border-radius: 25px;
    padding: clamp(20px, 5vw, 40px);
    display: flex;
    margin-top: 100px;
    margin-left: 20%;
    flex-direction: column;
    box-shadow: 1px 3px 10px #9A9AA0;
    width: 35%;
    gap: 30px;
}

.banner__titulo{
    color: $rosa_principal;
    font-size: clamp(28px, 3vw, 40px);
}

.banner__texto{
    color: $gris;
    font-size: $texto-xl;
}

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 199px;
}

.info__titulo{
    font-size: clamp(36px, 5vw, 40px);
}

.servicios__main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 60px;
    gap: 24px;
    padding: 0px 20px;
}

.servicios__imgCont{
    width: 20%;
    min-width: 250px;
}

.servicios__texto{
    color: $gris;
    font-size: $texto-xs;
    text-align: center;
}

.incluye{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-top: 60px;
    background-color: $claro;
    gap: 30px;
}

.incluye__main{
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    width: 100%;
    gap: 0px 60px;
    align-items: center;
    grid-template-areas: "turnos mock navegador"
                        "ubicacion mock promocion";

    @media only screen and (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "mock mock"
                            "turnos navegador"
                            "ubicacion promocion";
    }

    @media only screen and (max-width: 720px) {
        grid-template-columns: 1fr;
        grid-template-areas: "mock"
                            "turnos" 
                            "navegador"
                            "ubicacion"
                            "promocion";
    }
}

.incluye__mock{
    grid-area: mock;
    width: 300px;
    justify-self: center;
}

.incluye__cont{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;

    @media only screen and (max-width: 1024px) {
        align-items: center;
    }

    @media only screen and (max-width: 720px) {
        justify-self: center;
    }
}

.turnos{
    grid-area: turnos;
    justify-self: end;
    text-align: end;
    display: flex;
    align-items: end;

    @media only screen and (max-width: 1024px) {
        align-items: center;
    }
    
    @media only screen and (max-width: 720px) {
        justify-self: center;
    }
}

.navegador{
    grid-area: navegador;
}

.ubicacion{
    @extend .turnos;
    grid-area: ubicacion;
}

.promocion{
    grid-area: promocion;
}

.incluye__icono{
    width: 80px;
}

.incluye__texto{
    color: $gris;
    font-size: 20px;

    @media only screen and (max-width: 1024px) {
        text-align: center;
    }
}

.contacto{
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info__titulo{
        color: $blanco;
        margin-top: 60px;
    }
}

.contacto__main{
    background-color: $claro;
    border-radius: 25px;
    padding: clamp(20px, 5vw, 40px);
    display: flex;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
    box-shadow: 1px 3px 10px #9A9AA0;
    max-width: 670px;
    width: 90%;
    gap: 30px;

    .categoria__textarea{
        width: 100%;
    }
}

.footer{
    background-color: $azul;
    width: 100%;
    display: flex;
    margin-top: 100px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.footer__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1040px;
}

.footer__logo{
    width: 200px;
}

.footer__redesCont{
    display: flex;
    gap: 10px;
}

.footer__redes{
    font-size: 24px;
    padding: 10px;
    border: 2px solid $claro;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;

    &:hover{
        color: $azul;
        background-color: $claro;

        i{
            color: $azul;
        }
    }
}