.banner{
    width: 100%;
}

.banner__main{
    background-color: $claro+db;
    border-radius: 25px;
    padding: clamp(20px, 5vw, 40px);
    display: flex;
    margin-top: 100px;
    margin-left: 20%;
    flex-direction: column;
    box-shadow: 1px 3px 10px #9A9AA0;
    width: 35%;
    gap: 30px;
}

.banner__titulo{
    color: $rosa_principal;
    font-size: clamp(22px, 3vw, 40px);
}

.banner__texto{
    color: $gris;
    font-size: $texto-xl;
}

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 199px;
}

.info__titulo{
    font-size: clamp(22px, 3vw, 40px);
}

.servicios__main{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 60px;
}

.servicios__imgCont{
    width: 20%;
}

.servicios__texto{
    color: $gris;
    font-size: $texto-xl;
    text-align: center;
}

.incluye{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-top: 60px;
    background-color: $claro;
}

.incluye__main{
    display: grid;
    width: 80%;
    align-items: center;
    gap: 0px 60px;
    grid-template-areas: "turnos mock navegador"
                        "ubicacion mock promocion";
}

.incluye__mock{
    grid-area: mock;
}

.incluye__cont{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.turnos{
    grid-area: turnos;
    justify-self: end;
    text-align: end;
    display: flex;
    align-items: end;
}

.navegador{
    grid-area: navegador;
}

.ubicacion{
    @extend .turnos;
    grid-area: ubicacion;
}

.promocion{
    grid-area: promocion;
}

.incluye__icono{
    width: 80px;
}

.incluye__texto{
    color: $gris;
    font-size: $texto-xl;
}

.contacto{
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info__titulo{
        color: $blanco;
        margin-top: 60px;
    }
}

.contacto__main{
    background-color: $claro;
    border-radius: 25px;
    padding: clamp(20px, 5vw, 40px);
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    box-shadow: 1px 3px 10px #9A9AA0;
    width: 35%;
    gap: 30px;

    .categoria__textarea{
        width: 100%;
    }
}

.footer{
    background-color: $azul;
    width: 100%;
    display: flex;
    margin-top: 100px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.footer__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1040px;
}

.footer__logo{
    width: 200px;
}

.footer__redesCont{
    display: flex;
    gap: 10px;
}

.footer__redes{
    font-size: 24px;
    padding: 10px;
    border: 2px solid $claro;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;

    &:hover{
        color: $azul;
        background-color: $claro;

        i{
            color: $azul;
        }
    }
}